aniso8601==9.0.1
bandit==1.7.5
black==23.3.0
blinker==1.9.0
click==8.1.7
cloud-init-gen==1.2.0
dnspython>=2.0.0
email_validator==2.2.0
exceptiongroup==1.1.1
flake8==7.1.1
Flask==2.1.2
flask-mongoengine==1.0.0
Flask-RESTful==0.3.10
Flask-WTF==1.2.2
gitdb==4.0.10
GitPython==3.1.31
idna==3.10
importlib-metadata==4.11.3
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
markdown-it-py==2.2.0
MarkupSafe==3.0.2
mccabe==0.7.0
mdurl==0.1.2
mongoengine==0.29.1
mongomock==4.1.2
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.1
pbr==5.11.1
platformdirs==3.4.0
pluggy==1.0.0
pycodestyle==2.12.1
pyflakes==3.2.0
Pygments==2.15.1
pymongo==4.1.1
pytest==7.3.1
pytz==2024.2
PyYAML==6.0.2
rich==13.3.4
sentinels==1.0.0
setuptools==75.6.0
six==1.16.0
smmap==5.0.0
stevedore==5.0.0
tomli==2.0.1
Werkzeug==2.1.2
WTForms==3.2.1
zipp==3.8.0
